body > header {
  background: $header-bg;
  h1 {
    display: inline-block;
    margin: 0;
    font-weight: 200;
    font-size: 1.5em;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1.2em;
    color: $subtitle-color;
    font-weight: 300;
  }
}
